<h1>Vehicles</h1>

<h2>Count: {{dVehicles?.count}}</h2>


<div>
    <ul>
        <li *ngFor="let result of dVehicles?.results">
            <h3>Tipo de vehiculos</h3>
            <ul>
                <li>Nombre: {{result.name}}</li>
                <li>Clase de vehiculo: {{result.vehicle_class}}</li>
                <li>Modelo: {{result.model}}</li>
                <li>Fabricante: {{result.manufacturer}}</li>
                <li>Capacidad de Carga: {{result.cargo_capacity}}</li>
                <li>Conbustible: {{result.consumables}}</li>
                <li>Pasageros: {{result.passengers}}</li>
                <li>Si desea conocer mas informacion de los vehiculos ingrese al siguiente link: <a href="{{result.url}}">Vehiculos</a></li>
            </ul>
        </li>
        <hr>
    </ul>
</div>