<h1>Planets</h1>
<h2>Count: {{dPlanets?.count}} </h2>

<div class="row">
  <div *ngFor="let result of dPlanets?.results" class="card border-dark col-sm-3" style="width: 18rem;">
    <div class="card-header">
      <h5>Nombre: {{result.name}}</h5>
    </div>
    <div class="card-body">
      <p class="card-text">Diametro: {{result.diameter}}</p>
      <p class="card-text">Gravedad: {{result.gravity}}</p>
      <p class="card-text">Clima: {{result.climate}}</p>
      <p class="card-text">Poblacion: {{result.population}}</p>
      <p class="card-text">Tereno: {{result.terrain}}</p>
      <p class="card-text">Periodo de Rotacion: {{result.rotation_period}}</p>
    </div>
    <div class="card-footer">
      <a href="{{result.url}}" class="btn btn-primary">Detalle del Planeta</a>
    </div>
  </div>
</div>
