<h1>Films</h1>
<h2>Count: {{dFilms?.count}}</h2>

<div class="container">
    <div class="row">
        <div *ngFor="let result of dFilms?.results" class="card col-sm-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Titulo: {{result.title}}</h5>
                <p class="card-text">Productor: {{ result.producer }}</p>
                <a href="{{ result.url }}" class="btn btn-primary">Detalle de la pelicula</a>
            </div>
        </div>
    </div>
</div>