<div class="container">
    <h1>Films</h1>
    <h2>Count: {{dFilms?.count}}</h2>
    <div class="row">
        <div *ngFor="let result of dFilms?.results" class="card border-dark col-sm-3" style="width: 18rem;">
            <div class="card-header">
                <h5>Titulo: {{result.title}}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Productor: {{ result.producer }}</p>

            </div>
            <div class="card-footer">
                <a href="{{ result.url }}" class="btn btn-primary">Detalle de la pelicula</a>
            </div>
        </div>
    </div>
</div>