<h1>Films</h1>


<h2>Count: {{dFilms?.count}}</h2>


<div>
    <ul>
        <li *ngFor="let result of dFilms?.results">
            <h3>Descripcion general de las peliculas</h3>
            <ul>
                <li>Titulo: {{result.title}}</li>
                <li>El productor de la pelicula es: {{ result.producer }}</li>
                <li>El detalle de la pelicula lo puede encontrar en el siguiente link: <a href="{{ result.url }}">Descripcion</a></li>

            </ul>
        </li>
        <hr>
    </ul>
</div>