<h1>People</h1>

<h2>Count: {{dPeople?.count}}</h2>


<div class="container">
    <div class="row">
        <div *ngFor="let result of dPeople?.results" class="card col-sm-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Nombre: {{result.name}}</h5>
                <p class="card-text">Altura: {{result.height}}</p>
                <p class="card-text">Productor: {{ result.producer }}</p>
                <p class="card-text">Productor: {{ result.producer }}</p>
                <p class="card-text">Productor: {{ result.producer }}</p>
                <a href="{{result.homeworld}}" class="btn btn-primary">Detalle de la vivienda</a>
            </div>
        </div>
    </div>
</div>

<div>
    <ul>
        <li *ngFor="let result of dPeople?.results">
            <h3>Descripcion general</h3>
            <ul>
                <li>Nombre: {{result.name}}</li>
                <li>Altura: {{result.height}}</li>
                <li>Peso: {{result.mass}}</li>
                <li>Color de cabello: {{result.hair_color}}</li>
                <li>Color de piel: {{result.skin_color}}</li>
                <li>Fecha de nacimiento: {{result.birth_year}}</li>
                <li>Genero: {{result.gender}}</li>
                <li>Si desea conocer el planeta donde vive ingrese al siguiente link: <a href="{{result.homeworld}}">Planeta</a></li>
            </ul>
        </li>
        <hr>
    </ul>
</div>