Planets:
<a href="{{dApis?.planets}}">Planets</a> People:
<a href="{{dApis?.people}}">Peoples</a> Films:
<a href="{{dApis?.films}}">Films</a> Species:
<a href="{{dApis?.species}}">Species</a> StarShips:
<a href="{{dApis?.starships}}">StarShips</a>

<h1>{{name}}</h1>

<h1>Count: {{dFilms?.count}}</h1>
<ul>
    <li *ngFor="let result of dFilms?.results">
        <h2>{{result.title}}</h2>
        <ul>
            <li *ngFor="let character of result.characters">
                <a href="{{character}}">People</a>
            </li>
            <li *ngFor="let planets of result.planets">
                <a href="{{planets}}">Planets</a>
            </li>
            <li *ngFor="let species of result.species">
                <a href="{{species}}">Species</a>
            </li>
        </ul>

    </li>
</ul>